.alignX{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}

#manage-container{
    .manage-block{
        background-color: rgb(226, 226, 226);
        border-radius: 10px;
        padding: 10px;
        
        .manage-block-row{
            padding: 15px;
            .manage-block-title{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                height: 38px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

}